@import "~@styles/app.module.scss";
.header_container {
  background-color: $white;
  box-shadow: 1px 1px 10px #ccc;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  .logo_container {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    .logo_link {
      display: inline-block;
      font-size: 28px;
      line-height: 60px;
      font-family: "Brannboll Smal";
      font-weight: bold;
      color: #5b1624;
    }
  }
}
