@import "~@styles/app.scss";
.header_container {
  background-color: $white;
  box-shadow: 1px 1px 10px #ccc;
}

.header {
  height: 60px;
  .logo_container {
    width: 60px;
    height: 100%;
    border-radius: 60px;
    overflow: hidden;

    .logo_link {
      display: block;
      height: 100%;
    }
  }
}
